{% extends 'base.html.twig' %}

{% block body %}
    {% if app.request.get('error') %}
        <div class="alert alert-danger">
            {{ app.request.get('error') }}
        </div>
    {% elseif app.request.get('success') %}
        <div class="alert alert-success">
            {{ app.request.get('success') }}
        </div>
    {% endif %}

    {% if not app.user %}
        <h1>Login</h1>
        <form action="{{ path('security_login') }}" method="post">
            <div class="form-group">            
                <input placeholder="Email address" required type="text"
                    class="form-control" name="_username">
            </div>

            <div class="form-group">            
                <input placeholder="Password" required type="password"
                    class="form-control" name="_password">
            </div>

            <div class="form-group">
                <button type="submit" class="btn btn-success">Login !</button>
            </div>
        </form>
    {% else %}
        <h1>Welcome, {{ app.user.username }}</h1>
    {% endif %}

{% endblock %}