{% extends 'base.html.twig' %}

{% block body %}
  <h1 align="center">Welcome to my photo gallery !</h1>

  {% if require_admin_registration %}
    <p align="center">Please, create an <a href="{{ path('admin_register') }}">admin user</a></p>
  {% else %}
    <div align="center">
      <img src="/static/sky.jpg" alt="Sky" width="600" height="480">  
      {% if not app.user %}  
        <p>First visit? You can <a href="{{ path('security_registration') }}">create an account.</a></p>
        <p>Otherwise you can <a href="{{ path('security_login') }}">login.</a></p>
      {% endif %}
    </div>
  {% endif %}
{% endblock %}